@model MvcHastaneOtomasyon.Models.Siniflar.Doktor
@{
    ViewBag.Title = "YeniDoktor";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Yeni Doktor Sayfası</h2>
<br />
@using (Html.BeginForm("YeniDoktor", "Doktor", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<form class="form-group" method="post">
    @Html.LabelFor(x => x.DoktorGorsel)
    @*@Html.TextBoxFor(x => x.DoktorGorsel, new { @class = "form-control" })*@
    <input type="file" name="DoktorGorsel" />
    @Html.ValidationMessageFor(x => x.DoktorGorsel, "Bu alanı boş bırakamazsınız! Lütfen dosya seçin", new { @style = "color:red" })
    <br />
    @Html.LabelFor(x => x.DoktorAd)
    @Html.TextBoxFor(x => x.DoktorAd, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.DoktorAd, "", new { @style = "color:red" })
    <br />
    @Html.LabelFor(x => x.DoktorSoyad)
    @Html.TextBoxFor(x => x.DoktorSoyad, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.DoktorSoyad, "", new { @style = "color:red" })
    <br />
    @Html.LabelFor(x => x.DoktorMail)
    @Html.TextBoxFor(x => x.DoktorMail, new { @class = "form-control" ,@placeholder = "E-mail" })
    @Html.ValidationMessageFor(x => x.DoktorMail, "", new { @style = "color:red" })
    <br />
    @Html.LabelFor(x => x.Poliklinik.PoliklinikId)
    @Html.DropDownListFor(x => x.Poliklinikid, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
    @*Html.TextBoxFor(x => x.Poliklinikid, new { @class = "form-control" })*@
    <br />
    @Html.LabelFor(x => x.DoktorSifre)
    @Html.TextBoxFor(x => x.DoktorSifre, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.DoktorSifre, "", new { @style = "color:red" })
    <br />
    <button class="btn btn-info">Kaydet</button>

</form>
}

